<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stylish Side Nav Bar</title>
<link rel="stylesheet" href="Sidenavbar.css"
	th:href="@{/css/Sidenavbar.css}" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<header th:fragment="Sidenavbar">
		<div class="d-flex">
			<div class="side-navbar">
				<a href="getUploadProductPage">Upload Product</a> 
				<a href="#">Search
					Product</a>
			</div>
		</div>
	</header>
</body>
</html>
