.side-navbar {
            min-width: 250px;
            height: 500px;
            padding-top:30px;
            background-color: #e3e9eb;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .side-navbar a {
            padding: 20px;
            text-decoration: none;
            font-size: 18px;
            color: #000000;
            display: block;
        }
        .side-navbar a:hover {
            background-color: #b9e7f9;
            color: #000000;
            transition: all 0.3s ease;
        }
        