@charset "ISO-8859-1";
.navbar-logo {
    background-image: url('/images/navlogo.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 200px; 
    width: 100%; 
}

@media (max-width: 768px) {
    .navbar-logo {
        height: 200px; /* Reduce height for smaller screens */
    }
}

@media (max-width: 480px) {
    .navbar-logo {
        height: 150px; /* Further reduce height for very small screens */
    }
}
